*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.image{
    width: 100px;
}

.component-inside{

    width:120px;
    height: 230px;
padding: 15px;
    border-radius: 5px; 
    box-shadow: 5px 5px 10px rgb(84, 83, 83);
    cursor: pointer;
  font-size: small;
}

.head{

    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px;
    gap: 20px

    
}